@charset "UTF-8";
/*body*/
html, body {
    width: 100%;
    height: 100%;
    background: white 
}
/*header*/
header {
    color: black;
    font-size: 16px;
    text-align: center;
    border-bottom: solid 3px gray;
}

/*main*/
main {
    overflow: hidden;
    margin: 5px;
    height: 100%;
    width: 100%;
}

.title {
    color: black;
    font-size: 14px;
    text-align: center
}

p.resize {
    width: 100%;
    height: 100%;
    text-align: center;
}

p.resize img {
    width: 100%;
}

p.resize2 {
    width: 100%;
    height: 100%;
    text-align: center;
}


p.resize2 img {
    width: 100%;
}

#spec {
    border: double 3px black;
    float: left;
    margin: 1px;
    width: 81%;
    height: 97%;
}

.spec_graph {
    width: 100%;
    height: 20.5%;
    margin: 5px;
    margin-left: 0px;
    list-style: none;
}

.spec_graph li p {
    float: left;
    margin: 3px;
    width: 18%;
    height: 100%;
    border: solid 2px black;
}

.spec_graph li:last-child {
    margin-right: 0;
}

#conti {
    border: double 3px black;
    float: left;
    margin-left: 5px;
    padding: 5px;
    width: 16%;
    height: 30%;
    
}

#btemp {
    border: double 3px black;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 16%;
    height: 30%;
}

.graph p {
    width: 100%;
    height: 100%;
}


#any {
    border: double 3px black;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 16%;
    height: 30%;
}

